* {
    margin: 0;
    padding: 0;
}

div {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(https://images.unsplash.com/photo-1528818955841-a7f1425131b5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80) center/cover no-repeat;
}

section {
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 14px 14px 5px 0px rgba(0, 0, 0, 0.75);
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 2%;
    color: rgb(0, 255, 157);
}

td {
    height: 50px;
}

.button {
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 2px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 0px 10px white;
}

.button:hover {
    background: rgb(0, 255, 157);
}

.button2:hover {
    background: rgb(0, 255, 157);
}

.button3:hover {
    background: rgb(0, 255, 157);
}

.button4:hover {
    background: rgb(0, 255, 157);
}

.button5:hover {
    background: rgb(0, 255, 157);
}

.button2 {
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 2px;
    cursor: pointer;
    border-radius: 50%;
    background: rgb(16, 201, 185);
}

.button3 {
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 2px;
    cursor: pointer;
    border-radius: 50%;
    background: rgb(255, 196, 0);
}

.button4 {
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 2px;
    cursor: pointer;
    border-radius: 50%;
    background: rgb(255, 0, 149);
}

.button5 {
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 2px;
    cursor: pointer;
    border-radius: 50%;
    background: rgb(0, 183, 255);
}

#output {
    width: 217px;
    height: 50px;
    margin: 5px;
    font-size: 25px;
    padding: 5px;
    border-radius: 5px;
    background: rgb(16, 19, 19);
    color: white;
}