* {
    margin:0;
    padding:0;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(https://images.unsplash.com/photo-1528818955841-a7f1425131b5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80) center/cover no-repeat;
}

h1{
    margin-left: 10%;
    margin-bottom: 12%;
    letter-spacing: .8rem;
    padding: 4%;
    text-align: center;
    font-size: 1.7rem;
    font-family: 'Bungee Inline', cursive;
    font-weight: lighter;
    text-transform: uppercase;
    line-height: 2rem;
    color:  #232323;
    text-shadow: 2px 2px rgb(251, 255, 0);
}

input{
    width: 50px;
    font-size: 1.3rem;
    outline: none;
    -webkit-appearance: none;
}


input:hover:not(#output){
    border: 2px solid rgb(255, 251, 11);
    cursor: pointer;
}

#output{
    width: 210px;
    margin-bottom: 3%;
    margin-left: 9%;
    padding: 2%;
    background: #fff;
    text-align: right;
}

div{
    width: 20%;
    border: .5px solid rgb(71, 71, 71);
    border-radius: 10px;
    background: rgb(11, 240, 209);
    padding: 4% 2.6% 4% 1.1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 18px 14px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 18px 14px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 18px 14px 0px 0px rgba(0,0,0,0.75);
}

form {
    display: grid;
    gap: 4%;
    grid-template-columns: repeat(4,50px);
    grid-template-rows: repeat(6,50px);
}

input:nth-of-type(1),input:nth-of-type(2),input:nth-of-type(3),input:nth-of-type(4){
    background:orange;
}

input:nth-last-of-type(1){
    background: red;
}

input:nth-last-of-type(2){
    background: green;
}